@import url('https://fonts.googleapis.com/css2?family=Lemon&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background:linear-gradient(to right top, #e4ffc9,#fdffec);
    height: 100vh;
}
header{
    display: flex;
    width: 90%;
    margin: auto;
    height: 20vh;
}
.logo, ul ,.icons{
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo{
    flex: 1;
}
ul{
    flex: 2;
}
.icons{
    flex: 1;
    gap: 30px;

}
.fa-solid{
    font-size: 20px;
    color: rgb(12, 12, 11);
}
li{
    list-style: none;
    margin: 35px;
}
a{
    text-decoration: none;
    font-size: 18px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
}
.active{
    color: #84b74d;
}
a:hover{
    color: #84b74d;
}
.logo{
    font-family: 'lemon',cursive;
    font-size: 40px;
    color: rgb(11, 11, 11);
    position: relative;
}
.logo::before{
    content: "";
    background-color: #87e720;
    width: 55px;
    height: 45px;
    border-radius: 60%;
    position: absolute;
    z-index: -1;
}
.logo::after{
    content: "eals";
    color: black;
    font-size: 30px;
    position: absolute;
    top: 50%;
    left: 68%;
    transform: translate(-50%,-50%);
}
.login,.delivery,.dine{
    padding: 12px 30px;
    border-radius: 50px;
    border: none;
    color: white;
    background-color: #72da03;
}
.login:hover,.delivery:hover,.dine:hover{
    background-color: #709746;


}
section{
    display: flex;
    width: 90%;
    margin: auto;
    align-items: center;
}
.dish img{
    height: 70vh;
}
.content{
    flex: 1;
    margin-left:100px ;
}
.dish{
     flex: 1; 
}
h2{
    font-size: 100px;
    font-family: 'Lemon',cursive;

}
h1,h2,p{
    margin-bottom: 20px;
}
h1{
    font-size: 400%;
    font-family: 'Lemon',cursive;
}
span{
    color: #85fe03;
}
p{
    font-size: 28px;
    color: gray;
    line-height: 30px;
    font-family: Arial, Helvetica, sans-serif;

}
.dine{
    border: 2px solid black;
    background-color: transparent;
    color: black;
}
.buttons{
    display: flex;
    gap: 20px;
}

